<!-- График потребления электроэнергии -->
<div class="panel panel-default">	
	<div class="panel-heading">Power consumption <%= @chart_header %></div>
	<div class="panel-body">
		<div class='row'>
			<div class='col'>
				<%= line_chart @pow_data, library: {curveType: "none", pointSize: 0, theme: "maximized", vAxis: {title: "W"}, hAxis: {title: "Time"}} %>
			</div>
		</div>
		<br>
		<form>
			<div class='form-group'>
				<div class="radio">
			  		<label>
			    		<input type="radio" name="period" id="optionsPeriod1" value="l24h" <%= params[:period]=="l24h" ? "checked" : "" %> >
			    		last 24 hours
			  		</label>
				</div>
				<div class="radio">
					  <label>
					    <input type="radio" name="period" id="optionsPeriod2" value="given" <%= params[:period]=="given" ? "checked" : "" %> >
					    a given period
					  </label>
				</div>
				<div class="container">
				    <div class='col-sm-5'>
				        <div class="form-group">
				            <div class='input-group date' id='startTime'>
				                <input type='text' class="form-control" name='startTime' value='<%= params[:startTime] %>'>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				        </div>
				    </div>
				    <div class='col-sm-5'>
				        <div class="form-group">
				            <div class='input-group date' id='endTime'>
				                <input type='text' class="form-control" name='endTime' value='<%= params[:endTime] %>'>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				        </div>
				    </div>
				</div>				    
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Refresh chart</button>
		</form>
	</div>
</div>
<!-- Установка параметровы сигнализации по превышению мощности -->
<div class="panel panel-default">	
	<div class="panel-heading">Power alarm</div>
	<div class="panel-body">
		<form class="form-inline" method='post'>
			<div class="form-group">
			<input type="checkbox" name = "alarmOn" data-toggle="toggle" data-onstyle="danger" <%= @alarm_on ? 'checked' : '' %> >
			</div>
		  <div class="form-group">
		    <div class="input-group">
		      <input type="number" class="form-control" id="inputAlarmPower" name="alarmPower" value='<%= @alarm_power %>'>
		      <div class="input-group-addon">W</div>
		    </div>
		  </div>
		  <button type="submit" class="btn btn-danger">Set alarm</button>
		</form>
	</div>
</div>		