<div class="panel panel-default">	
	<div class="panel-heading">Power consumption <%= @chartHeader %></div>
	<div class="panel-body">
		<div class='row'>
			<div class='col'>
				<%= line_chart @pow_data, library: {curveType: "none", pointSize: 0, theme: "maximized", vAxis: {title: "W"}, hAxis: {title: "Time"}} %>
			</div>
		</div>
		<br>
		<form>
		<!-- <form method='post'> -->
			<div class='form-group'>
				<div class="radio">
			  		<label>
			    		<input type="radio" name="period" id="optionsPeriod1" value="l24h" <%= params[:period]=="l24h" ? "checked" : "" %> >
			    		last 24 hours
			  		</label>
				</div>
				<div class="radio">
					  <label>
					    <input type="radio" name="period" id="optionsPeriod2" value="given" <%= params[:period]=="given" ? "checked" : "" %> >
					    a given period
					  </label>
				</div>
				<div class="container">
				    <div class='col-md-5'>
				        <div class="form-group">
				            <div class='input-group date' id='startTime'>
				                <input type='text' class="form-control" name='startTime' value='<%= params[:startTime] %>'>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				        </div>
				    </div>
				    <div class='col-md-5'>
				        <div class="form-group">
				            <div class='input-group date' id='endTime'>
				                <input type='text' class="form-control" name='endTime' value='<%= params[:endTime] %>'>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
				        </div>
				    </div>
				</div>				    
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Refresh chart</button>
		</form>
	</div>
</div>

<div class="panel panel-default">	
	<div class="panel-heading">Set the power alarm</div>
	<div class="panel-body">
</div>		